<h2>Enter User Details</h2>
<br>
<div>
    <form >
      <label>First Name</label>
      <input type="text" name="firstname">

      <label>Last Name</label>
      <input type="text" name="lastname">
  
      <label>Address Line 1</label>
      <input type="text" name="addline1">

      <label>Address Line 2</label>
      <input type="text" name="addline2">

      <label>Address Line 3</label>
      <input type="text" name="addline3">

      <label>City</label>
      <input type="text" name="city">

      <label>State</label>
      <input type="text" name="state">
      
      <label>Zip</label>
      <input type="text" name="zip">

      <label>Phone</label>
      <input type="text" name="phone">

      <label>Cell</label>
      <input type="text" name="cell">

      <label>Email</label>
      <input type="text" name="email">

      <input type="submit" value="Next">
    </form>
  </div>
  <div>
    <br>

  </div>
